# macOS
.DS_Store

# Gradle
.gradle/
gradle/
build/
*/build/

# Kotlin
.kotlin/

# Android Studio / IntelliJ
.idea/
*.iml

# Libs
libs/
obj/

# Private Keys and Passwords
WebDefender.keystore
keystore.properties

