# macOS
.DS_Store

# Gradle
.gradle/
gradle/
build/
*/build/
app/build/
app/samsung
app/fdroid

# Kotlin
.kotlin/

# Android Studio / IntelliJ
.idea/
*.iml

# Libs
libs/
obj/

# Keystore
WebDefender.keystore
